body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(72, 135, 191), rgb(193, 69, 88), rgb(153, 74, 153));
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
    min-height: 100vh;
    -webkit-user-select: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

html {
    overflow-y: hidden;
}

input {
    outline: none;
}


.dark {
    background-repeat: no-repeat;
    background-image: url("https://img.icons8.com/sf-regular-filled/2x/clouds.png");
    background-size: cover;
    opacity: 0.84;
    transition: 0.2s ease-in-out;
}

.white {
    background-repeat: no-repeat;
    transition: 0.2s ease-in-out;
    background-image: url("https://cdn-icons-png.flaticon.com/128/4503/4503018.png");
    background-size: cover;
}

@media (max-width: 340px) {
    .card {
        font-size: xx-small;
    }
}

@media (max-width: 680px) {
    button {
        border: none;
        background: transparent;
        position: absolute;
        cursor: auto;
        transform: translateX(-2.5rem);
    }
}

@media (min-width: 680px) {
    button {
        border: none;
        background: transparent;
        position: absolute;
        cursor: pointer;
        transform: translateX(-2.5rem);
    }
}

.darkMode {
    height: 2rem;
    width: 2rem;
    transform: translate(calc(100vw / 2), 1em);
}

.white-color {
    color: aliceblue;
    transition: 0.1s ease-in-out;
}


.dark--Mode {
    animation: change 1s ease-out;
    background-image: linear-gradient(rgb(23, 1, 87), rgba(106, 12, 91));
}

@keyframes change {
    25% {
        background-image: linear-gradient(rgb(65, 119, 167), rgb(165, 61, 76), rgb(135, 67, 135));
    }

    50% {
        background-image: linear-gradient(rgb(34, 66, 93), rgb(98, 36, 45), rgb(90, 44, 90));
    }

    75% {
        background-image: linear-gradient(rgb(42, 19, 105), rgb(145, 48, 129));
    }

    100% {
        background-image: linear-gradient(rgb(23, 1, 87), rgba(106, 12, 91));
    }
}

.white--Mode {
    animation: change2 1s ease-in-out;
    background-image: linear-gradient(rgb(72, 135, 191), rgb(193, 69, 88), rgb(153, 74, 153));
}

.every {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-user-select: none;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes change2 {
    50% {
        background-image: linear-gradient(rgb(109, 187, 255), rgb(255, 112, 134), rgb(255, 129, 255));
    }

    100% {
        background-image: linear-gradient(rgb(72, 135, 191), rgb(193, 69, 88), rgb(153, 74, 153));
    }
}

.mausam {
    font-size: 0.55em;
    color: rgb(43, 3, 43);
    position: absolute;
    font-family: cursive;
    bottom: 0.2rem;
    text-transform: capitalize;
    right: 0.9rem;
}

:root {
    --color1: purple;
    --color2: rgba(255, 255, 255, 0.437);
}

img {
    pointer-events: none;
}

.load div {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 50%;
    opacity: 0.2;
    border: 0.3rem solid purple;
    box-shadow: 1rem 0rem 0rem 0rem var(--color2),
        1rem 1rem 0rem 0rem var(--color1),
        0rem 1rem 0rem 0rem var(--color2);
}


.all {
    transform: translateY(10vh);
}

.desc {
    text-align: center;
    text-transform: capitalize;
}

* {
    margin: 0;
    padding: 0;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp {
    display: flex;
    justify-content: center;
}

.deg {
    font-size: 0.5rem;
}

.celcius {
    display: flex;
    align-items: center;
}

.icon-arrange {
    display: flex;
    align-items: center;
}

.bold {
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gold {
    color: rgb(254, 254, 0);
}


.icon--number {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateX(2rem);
}

.card {
    background-color: rgba(0, 0, 0, 0.146);
    padding: 2em;
    display: flex;
    box-shadow: 0.5rem 0.5rem 3.2rem 0.5rem rgba(83, 41, 83, 0.564);
    flex-direction: column;
    border-radius: 1em;
}

.cardDark {
    box-shadow: 0.5rem 0.5rem 3.2rem 0.5rem rgba(122, 74, 122, 0.564);
    background-color: rgba(255, 255, 255, 0.125);
}

img {
    background: transparent;
}

.shake {
    animation: shake 0.4s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0.3em);
    }

    25% {
        transform: translateX(-0.3em);
    }

    50% {
        transform: translateX(0.3em);
    }

    75% {
        transform: translateX(-0.3em);
    }

    100% {
        transform: translateX(0em);
    }
}

.err {
    text-align: center;
    margin: 1rem 0rem;
    background-color: rgba(255, 1, 43, 0.101);
    padding: 0.2rem 0rem;
    border-radius: 3rem;
    font-size: 0.7rem;
    position: relative;
    font-style: italic;
    color: red;
    top: -2rem;
}

.mid {
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}


input {
    overflow: hidden;
    font-size: 1rem;
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.148);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 3rem;
}

.city {
    margin-right: 1rem;
}

.load {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    padding: 0.3rem;
    margin-top: 40vh;
    animation: load 1s infinite;
    border: 0.3rem double honeydew;
}

@keyframes load {
    0% {
        transform: rotate(0deg);
        border-color: rgb(55, 211, 55);
    }

    25% {
        transform: rotate(90deg);
        border-color: rgb(230, 126, 143);
    }

    50% {
        transform: rotate(180deg);
        border-color: rgb(110, 74, 144);
    }

    100% {
        transform: rotate(360deg);
        border-color: rgb(165, 70, 165);
    }
}

input {
    color: white;
}

::placeholder {
    color: rgb(241, 190, 241);
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button img {
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.65;
    z-index: 10;
    transform: translateY(0.2rem);
}


.temperature {
    animation: move 5s infinite;
    animation-timing-function: linear;
}

@keyframes move {
    0% {
        transform: translateX(0rem);
    }

    25% {
        transform: translateX(0.2rem);
    }


    75% {
        transform: translateX(-0.2rem);
    }

    100% {
        transform: translateX(0rem);
    }
}


button img:hover {
    transform: scale(1.1);
}

button img:active {
    transform: rotate(-5deg);
}

.date {
    font-size: 0.5rem;
}


.bottom--details {
    display: flex;
    flex-direction: column;
    font-size: 0.5em;
    font-family: sans-serif;
    font-weight: 600;
}


.bottom--details p {
    margin-top: 1rem;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.bottom--details p img {
    height: 1rem;
    width: 1rem;
    opacity: 0.7;
}

.bottom--details p span {
    color: rgb(167, 218, 240);
    opacity: 1;
}


.card img {
    height: 3rem;
    width: 3rem;
}
